---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&exclude=minutely,alerts&lat=39.749672&lon=-105.216019&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7497,"lon":-105.216,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619564279,"sunrise":1619525154,"sunset":1619574643,"temp":49.12,"feels_like":42.53,"pressure":1009,"humidity":87,"dew_point":45.43,"uvi":0.71,"clouds":90,"visibility":10000,"wind_speed":19.57,"wind_deg":340,"wind_gust":26.46,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619560800,"temp":49.15,"feels_like":44.82,"pressure":1008,"humidity":85,"dew_point":44.85,"uvi":1.29,"clouds":90,"visibility":10000,"wind_speed":10.51,"wind_deg":36,"wind_gust":11.5,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":1,"rain":{"1h":0.69}},{"dt":1619564400,"temp":49.12,"feels_like":45.9,"pressure":1009,"humidity":87,"dew_point":45.43,"uvi":0.71,"clouds":90,"visibility":10000,"wind_speed":7.52,"wind_deg":35,"wind_gust":10.74,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.8},{"dt":1619568000,"temp":48.7,"feels_like":45.07,"pressure":1008,"humidity":86,"dew_point":44.71,"uvi":0.29,"clouds":91,"visibility":10000,"wind_speed":8.28,"wind_deg":25,"wind_gust":10.94,"weather[...]
