---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<COORD_KEY>&location=golden,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 22:08:35 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"golden,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Golden","adminArea5Type":"City","adminArea4":"Jefferson
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039560","unknownInput":"","type":"s","latLng":{"lat":39.749672,"lng":-105.216019},"displayLatLng":{"lat":39.749672,"lng":-105.216019},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<COORD_KEY>&type=map&size=225,160&locations=39.749672,-105.216019|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1797204641"}]}]}'
  recorded_at: Sat, 24 Apr 2021 22:08:35 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&exclude=minutely,alerts&lat=39.749672&lon=-105.216019&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7497,"lon":-105.216,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619302116,"sunrise":1619266192,"sunset":1619315260,"temp":62.69,"feels_like":60.03,"pressure":1010,"humidity":29,"dew_point":30.25,"uvi":3.97,"clouds":75,"visibility":10000,"wind_speed":5.75,"wind_deg":80,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619301600,"temp":62.69,"feels_like":60.03,"pressure":1010,"humidity":29,"dew_point":30.25,"uvi":3.97,"clouds":75,"visibility":10000,"wind_speed":4.29,"wind_deg":96,"wind_gust":7.85,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619305200,"temp":62.83,"feels_like":60.08,"pressure":1009,"humidity":27,"dew_point":28.81,"uvi":2.14,"clouds":80,"visibility":10000,"wind_speed":2.64,"wind_deg":78,"wind_gust":11.88,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619308800,"temp":62.6,"feels_like":59.74,"pressure":1007,"humidity":25,"dew_point":26.98,"uvi":0.86,"clouds":85,"visibility":10000,"wind_speed":3.51,"wind_deg":36,"wind_gust":8.16,"weather":[{"id":804,"[...]
