---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?orientation=square&per_page=1&query=denver,co%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<IMAGE_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19998'
      X-Ratelimit-Reset:
      - '1621826158'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":290275,"width":2367,"height":2367,"url":"https://www.pexels.com/photo/architecture-blue-sky-buildings-business-290275/","photographer":"Pixabay","photographer_url":"https://www.pexels.com/@pixabay","photographer_id":2659,"avg_color":"#4F7086","src":{"original":"https://images.pexels.com/photos/290275/pexels-photo-290275.jpeg","large2x":"https://images.pexels.com/photos/290275/pexels-photo-290275.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/290275/pexels-photo-290275.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/290275/pexels-photo-290275.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/290275/pexels-photo-290275.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/290275/pexels-photo-290275.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/290275/pexels-photo-290275.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/290275/pexels-photo-290275.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false}],"total_results":49,"next_page":"https://api.pexels.com/v1/search/?orientation=square\u0026page=2\u0026per_page=1\u0026query=denver%2Cco+skyline"}'
  recorded_at: Sat, 24 Apr 2021 23:36:45 GMT
recorded_with: VCR 6.0.0
