---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=denver%20downtown
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<IMAGE_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19981'
      X-Ratelimit-Reset:
      - '1621826158'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":3751010,"width":3712,"height":5568,"url":"https://www.pexels.com/photo/red-and-white-concrete-building-during-night-time-3751010/","photographer":"Colin
        Lloyd","photographer_url":"https://www.pexels.com/@colin-lloyd-2120291","photographer_id":2120291,"avg_color":"#5A4741","src":{"original":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg","large2x":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/3751010/pexels-photo-3751010.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false}],"total_results":8000,"next_page":"https://api.pexels.com/v1/search/?page=2\u0026per_page=1\u0026query=denver+downtown"}'
  recorded_at: Tue, 27 Apr 2021 21:32:57 GMT
recorded_with: VCR 6.0.0
